:root {
  --turquoise-green: #aad1b6ff;
  --light-steel-blue: #b5caf9ff;
  --yellow-green-crayola: #a7d878ff;
  --violet-blue: #294dafff;
  --raisin-black: #2b283aff;

  --border-rad-5: 5px;
  --font-family: "Karla", sans-serif;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  padding: 1em;
  font-family: var(--font-family);
  background: var(--turquoise-green);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  max-width: 200px;
  margin: 0 auto;
  background: var(--light-steel-blue);
  border-radius: var(--border-rad-5);
  box-shadow: var(--box-shadow);
}

form * {
  margin-bottom: 0.65em;
}

form > input[type="text"],
form > input[type="email"],
form > input[type="submit"] {
  border-radius: var(--border-rad-5);
  box-shadow: var(--box-shadow);
  border: none;
  padding: 0.5em 1em;
  align-self: stretch;
}

input:invalid {
  outline: 2px solid red;
  caret-color: red;
  background-color: #ffe6e6;
}

form > p {
  font-weight: 600;
}

form > input[type="submit"] {
  background-color: var(--raisin-black);
  color: white;
  cursor: pointer;
}

form > input[type="submit"]:hover,
form > input[type="submit"]:focus {
  filter: brightness(1.95);
}

form > input[type="submit"] :active {
  transform: scale(0.96);
}

input[type="submit"]:disabled {
  background-color: #4a4a4a;
  cursor: not-allowed;
  background: gray;
  color: darkgray;
}

.signed-pledge-paragraph {
  width: 50%;
  background-color: white;
  border-radius: var(--border-rad-5);
  box-shadow: var(--box-shadow);
  padding: 1em;
  margin: 0 auto;
}

.checkboxes-container {
  padding: 0.5em 1em;
}

.checkboxes-alert {
  border-radius: var(--border-rad-5);
  border: 2px solid red;
}
