:root {
  --pink: #fbe6f4ff;
  --yellow: #fffad1ff;
  --green: #e1f0e5ff;
  --blue: #b5caf9ff;
  --orange: #f5e6db;
  --raisin: #2b283aff;
  --grey: #d4d4d4;
}

body {
  background-color: var(--raisin);
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.planet {
  border-radius: 50%;
  margin: 1em;
  animation: rotateleft 7s linear 1 ;
}
.hide{
    display: none;
}

.planet:hover +.hide{
    display: inline-block;
    position: absolute;
}
@keyframes rotateleft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
