@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 50px;
  background-image: linear-gradient(to left, #6b97f5, #2b283aff);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1020px;
}
.project {
  border-radius: 10px;
  border: 2px #444 solid;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 300px;
  text-decoration: none;
  transform: 0.3s ease;
}

.project:hover {
  opacity: 0.85;
  transform: scale(1.05);
}
.dark-mode {
  background: #2b283aff;
  color: #fff;
  
}
