:root {
  --pink: #fbe6f4ff;
  --yellow: #fffad1ff;
  --green: #e1f0e5ff;
  --blue: #b5caf9ff;
  --orange: #f5e6db;
  --raisin: #2b283aff;
  --grey: #d4d4d4;
}

body {
  background-color: var(--raisin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  font-size: 3em;
}

p {
  margin: 0 0 1em;
}
p > img,
.rocket-explosion-img {
  width: 15%;
  margin: 0 auto;
  display: block;
}

.countdown-display {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
}

.rocket-launching {
  transition: transform 450ms ease-in;
  transform: rotateX(30deg);
  transform: translateY(-100vh);
}
.rocket-explosion-img {
  transition: transform 450ms ease-out;
  transform: scale(1.8);
}
.shake-rocket {
  animation: shake 0.25s linear infinite;
  animation-delay: 2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2px);
  }
}
