:root {
  --turquoise-green: #aad1b6ff;
  --light-steel-blue: #b5caf9ff;
  --yellow-green-crayola: #a7d878ff;
  --violet-blue: #294dafff;
  --raisin-black: #2b283aff;

  --border-rad-5: 5px;
  --font-family: "Karla", sans-serif;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  background-color: var(--violet-blue);
  font-family: var(--font-family);
  text-align: center;
  color: white;
}

.container {
  color: black;
  width: 50%;
  background-color: white;
  border-radius: var(--border-rad-5);
  box-shadow: var(--box-shadow);
}

.input-container {
  margin: 1em;
}

input {
  width: 30px;
}

input {
  border: none;
  border-radius: var(--border-rad-5);
  box-shadow: var(--box-shadow);
  font-family: inherit;
  padding: 0.5rem 1rem;
}

p {
  font-weight: bold;
}
input {
  margin: 20px;
  width: 20%;
}

button {
    padding: 5px 15px;
    background: var(--yellow-green-crayola);
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    opacity: 0.89;
    transform: translateY(2px);
}